<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="/" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">领单</span>
            </a>
        </li>
        <li>
            <a href="/tasks" class="">
                <span class="am-icon-tasks"></span>
                <span class="am-navbar-label">任务</span>
            </a>
        </li>
        <li>
            <a href="/ecosphere" class="">
                <span class="am-icon-star-o"></span>
                <span class="am-navbar-label">生态圈</span>
            </a>
        </li>
        <li>
            <a href="/user" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">设置</span>
            </a>
        </li>
    </ul>
</div>