<% layout("grsuperman_layout") %>
<div data-am-widget="list_news" class="am-list-news am-list-news-default" >

    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g am-list-item-dated">
                <a href="http://61.147.98.185/apireport/reportJsp/showReport.jsp?raq=/v3yhscmx.raq" class="am-list-item-hd ">
                    用户收账明细
                </a>
            </li>
            <li class="am-g am-list-item-dated">
                <a href="http://61.147.98.185/apireport/reportJsp/showReport.jsp?raq=/v3yhscmxqd.raq" class="am-list-item-hd ">
                    用户收账明细清单
                </a>
            </li>
            <li class="am-g am-list-item-dated">
                <a href="http://61.147.98.185/apireport/reportJsp/showReport.jsp?raq=wlkjtj.raq" class="am-list-item-hd ">
                    快件统计清单
                </a>
            </li>
            <li class="am-g am-list-item-dated">
                <a href="http://61.147.98.185/apireport/reportJsp/showReport.jsp?raq=wlkjmx.raq" class="am-list-item-hd ">
                    快件明细清单
                </a>
            </li>
            <li class="am-g am-list-item-dated">
                <a href="http://61.147.98.185/apireport/reportJsp/showReport.jsp?raq=v3wltc.raq" class="am-list-item-hd ">
                    派送提成清单
                </a>
            </li>
            <li class="am-g am-list-item-dated">
                <a href="http://61.147.98.185/grec/reportJsp/showReport.jsp?raq=/v3wldsdyb.raq" class="am-list-item-hd ">
                    新物流指标
                </a>
            </li>
        </ul>
    </div>

</div>
<% include ../navbar.ejs %>
