<% layout("grsuperman_layout") %>

<div class="am-panel am-panel-secondary am-margin-sm">
    <div class="am-panel-hd"></div>
    <div class="am-panel-bd">
        <form name="myForm">
            <div class="am-form-group am-form-icon" style="margin-bottom: 0;">
                <i class="am-icon-search " style="color: #a1a1a1;"></i>
                <input type="number" class="am-form-field am-round" style="background-color: #fff;opacity: 0.9; width: 80%;" placeholder="输入至少6位订单号" name="search">

            </div>
        </form>
        <ul class="am-avg-sm-2">
            <li class="am-padding-sm">
                <button type="button" class="am-btn am-btn-danger am-radius am-btn-block">扫码领单</button>
            </li>
            <li class="am-padding-sm">
                <button type="button" class="am-btn am-btn-secondary am-radius am-btn-block">扫码查单</button>
            </li>
        </ul>
    </div>
</div>
<script >

</script>
<!---启用底部navbar-->
<% include ../navbar.ejs %>