<% layout("grsuperman_layout") %>
<div ng-controller="RejectedCtrl" ng-init="load()" >
    <div class="am-panel am-panel-default" ng-if="tasks.length === 0" >
        <div class="am-panel-bd am-text-center">
            <span class="am-text-success">没有了...</span>
        </div>
    </div>
    <div ng-show="tasks.length > 0" class="am-panel am-panel-secondary am-margin-sm" ng-repeat="task in tasks track by $index">
        <div class="am-panel-hd" >
            <span ng-bind="task.area_name"></span>
            <span ng-bind="task.type | orderType"></span>
            <span ng-bind="task.code"></span>
        </div>
        <div class="">
            <div class="am-margin-sm">
                <p class="am-margin-0" ng-if="task.expresstype === '定时送达'">
                    <span class="am-text-xs am-text-danger">定时达订单</span>
                    <span class="am-text-xs am-text-danger">用户预约时间:</span>
                    <span class="am-text-xs am-text-danger" ng-bind="task.deliveryTime * 1000 | date:'yyyy-MM-dd HH:mm'"></span>
                </p>
                <p class="am-margin-0">地址:<span ng-bind="task.to_address"></span></p>
                <p class="am-margin-0">收件人:<span ng-bind="task.to_name"></span><a href="tel:{{task.to_tel}}" ng-bind="task.to_tel"></a> </p>
                <p class="am-margin-0 am-text-xs " ng-if="task.book_time != undefined">预约时间:<span ng-bind="task.book_time| date:'yyyy-MM-dd HH:mm'"></span></p>
                <p class="am-margin-0 am-text-xs " ng-if="task.remark">备注:<span ng-bind="task.remark"></span></p>
            </div>
            <div class="am-g am-g-fixed am-margin-bottom-sm">
                <div class="am-u-sm-12">
                    <button class="am-btn am-btn-block am-btn-sm am-round am-btn-success" ng-click="restartExpress(event,task.code,task,$index)">重新派送</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% block('footer').append('<script src="js/tasks.js"></script>') %>
<!---启用底部navbar-->
<% include ../navbar.ejs %>